<head>
  <title>Explore with Wanderlust</title>
  <link rel="stylesheet" href="/css/show.css" />
</head>
<body>
  <% layout("/layouts/boilerplate.ejs") %>
  <div class="wanderlust-page container text-center">
    <h1 class="wanderlust-title">Explore with Wanderlust</h1>
    <p class="wanderlust-subtext">
      Find your next dream escape around the world 🌍
    </p>
    <div class="wanderlust-card mx-auto">
      <img
        src="<%= listing.image %>"
        alt="listing image"
        class="wanderlust-img"
      />
      <div class="wanderlust-body">
        <h3 class="wanderlust-heading"><%= listing.title %></h3>
        <p class="wanderlust-desc"><%= listing.description %></p>

        <div class="wanderlust-price">$<%= listing.price %>/week</div>
        <div class="wanderlust-location">
          <%= listing.location %>, <%= listing.country %>
        </div>

        <div class="d-flex justify-content-center flex-wrap">
          <form action="/listing/edit/<%= listing._id %>" method="get">
            <button class="wanderlust-btn edit-btn">Edit Listing</button>
          </form>
          <form
            action="/listing/delete/<%= listing._id %>?_method=DELETE"
            method="post"
          >
            <button class="wanderlust-btn delete-btn">Delete Listing</button>
          </form>
        </div>
      </div>
      <hr />
      <div class="review">
        <h3>Leave a Review</h3>
        <form action="" method="post">
          <div>
            <label for="rating" class="form-label">Rating</label>
            <input
              type="range"
              name="review[rating]"
              min="1"
              max="5"
              id="rating"
            />
          </div>
          <div>
            <label for="comment" class="form-label">Comments</label> <br />
            <textarea name="review[comment]" id="comment" class="form-control"></textarea>
          </div>
          <button class="wanderlust-btn review-btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
