<head>
  <title>Explore with Wanderlust</title>
  <link rel="stylesheet" href="/css/show.css" />
</head>
<body>
  <% layout("/layouts/boilerplate.ejs") %>
  <div class="wanderlust-page container text-center">
    <h1 class="wanderlust-title">Explore with Wanderlust</h1>
    <p class="wanderlust-subtext">
      Find your next dream escape around the world 🌍
    </p>
    <div class="wanderlust-card mx-auto">
      <img
        src="<%= listing.image %>"
        alt="listing image"
        class="wanderlust-img"
      />
      <div class="wanderlust-body">
        <h3 class="wanderlust-heading"><%= listing.title %></h3>
        <p class="wanderlust-desc"><%= listing.description %></p>

        <div class="wanderlust-price">$<%= listing.price %>/week</div>
        <div class="wanderlust-location">
          <%= listing.location %>, <%= listing.country %>
        </div>

        <div class="d-flex justify-content-center flex-wrap">
          <form action="/listings/edit/<%= listing._id %>" method="get">
            <button class="wanderlust-btn edit-btn">Edit Listing</button>
          </form>
          <form
            action="/listings/delete/<%= listing._id %>?_method=DELETE"
            method="post"
          >
            <button class="wanderlust-btn delete-btn">Delete Listing</button>
          </form>
        </div>
      </div>
      <hr />

      <h3><b>All Reviews</b></h3>
      <div class="row ">
        <% listing.reviews.forEach(function(review) { %>
        <div class="mb-3 col-6">
          <div class="card review-card">
            <div class="card-body">
              <h5 class="card-title">Rating: <%= review.rating %>/5</h5>
              <p class="card-text"><%= review.comment %></p>
              <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                <button class="wanderlust-btn delete-review-btn">
                  Delete Review
                </button>
              </form>
            </div>
          </div>
        </div>
        <% }); %>
      </div>

      <div class="review">
        <h3>Leave a Review</h3>
        <form
          action="/listings/<%= listing._id %>/reviews"
          method="post"
          novalidate
          class="needs-validation"
        >
          <div>
            <label for="rating" class="form-label">Rating</label>
            <input
              type="range"
              name="review[rating]"
              min="1"
              max="5"
              id="rating"
            />
          </div>
          <div>
            <label for="comment" class="form-label">Comments</label> <br />
            <textarea
              name="review[comment]"
              id="comment"
              required
              class="form-control"
            ></textarea>
            <div class="invalid-feedback">Please enter a comment.</div>
          </div>
          <button class="wanderlust-btn review-btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
